.kazka-notification {
  border: 1px solid black;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
  pointer-events: all;
  max-width: 30rem;
}
