.kazka-button {
  outline: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  background-color: white;
  border-radius: var(--kazka-br-sm);
  padding: var(--kazka-p-md);
  color: rgb(0, 0, 0);

  &-in {
  }

  &-out {
  }

  &-link {
  }

  &-primary {
    background-color: var(--kazka-primary);
    &:hover {
      background-color: var(--kazka-primary-hover);
    }
  }

  &-error {
    background-color: var(--kazka-error);
    &:hover {
      background-color: var(--kazka-error-hover);
    }
  }

  &-text {
    color: black;
    background-color: transparent;
  }
}
