//sizes

:root {
  --kazka-xs: 10px;
  --kazka-sm: 15px;
  --kazka-md: 20px;
  --kazka-lg: 30px;
  --kazka-xl: 40px;
}

// padding

:root {
  --kazka-p-xs: 5px;
  --kazka-p-sm: 10px;
  --kazka-p-md: 15px;
  --kazka-p-lg: 20px;
}

// border-radius
:root {
  --kazka-br-xs: 5px;
  --kazka-br-sm: 10px;
  --kazka-br-md: 15px;
  --kazka-br-lg: 20px;
  --kazka-br-xl: 50%;
}

:root {
  --kazka-fw-xs: 300;
  --kazka-fw-sm: 400;
  --kazka-fw-md: 500;
  --kazka-fw-lg: 600;
  --kazka-fw-xl: 700;
}
