.kazka-header {
  font-size: 2rem;

  &-xs {
    font-size: var(--kazka-xs);
  }
  &-sm {
    font-size: var(--kazka-sm);
  }
  &-md {
    font-size: var(--kazka-md);
  }
  &-lg {
    font-size: var(--kazka-lg);
  }
  &-xl {
    font-size: var(--kazka-xl);
  }
}
